.navbar {
  background: none;
  /* text-align:center; */
  display:flex;
  justify-content: right;
}

#opener{
  margin-top:100px;
}

.lead{
  text-align:left;
  font-size: 1.3vw;
  font-weight:1;
}

.stephzhang {
  font-size:7vw;
  font: lato;
  font-weight:900;

}

/* a {
    color: white;
    font-family: 'Lato', serif;
    font-size:.8em;
    padding-bottom:12px;
}

a:hover {
  color:white;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #A2D1D0;
}

li {
  margin: 10px;
} */

.bg {
  background: url('bg2.JPG') no-repeat center center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 96vh;
  z-index: -1;
}

.jumbotron {
  height: 96vh;
  color: white;
  background-color: transparent;
  padding-top:120px;
  margin-left:40px;
  font-family: 'Lato', serif;
}

.downarrow {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 60px;
  left: 40px;
  right: 0;
  margin: auto;
  z-index: 9;
  border-radius: 50%;
}

#about{
  color: #373F51;
  width: 100%;
  /* height: 250px;
  padding-top:20px;*/
  padding-bottom:30px;
  text-align: center;
  font-family: 'Lato', serif;
}

.stephpic{
  border-radius: 50%;
}

#aboutinfo{
  color: #373F51;
  padding-top:5%;
  padding-bottom:5%;
  color: black;
  text-align: center;
  font-family: 'Lato', serif;
}


.row-e1 {
  color: #373F51;
  padding: 7px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-left: 10px solid;
  border-color: #373F51;
  font-family: 'Lato', serif;
  text-align: left;

}

.row-e2 {
  color: #373F51;
  padding: 7px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-left: 10px solid;
  border-color: #639EA8;
  text-align: left;
  font-family: 'Lato', serif;

}

.row-e3 {
  color: #373F51;
  padding: 7px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-left: 10px solid;
  border-color: #A2D1D0;
  text-align:left;
  font-family: 'Lato', serif;

}

.row-e4 {
  color: #373F51;
  padding: 7px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-left: 10px solid;
  border-color: #F6F4D2;
  font-family: 'Lato', serif;
  text-align: left;

}

.row-e5 {
  color: #373F51;
  padding: 7px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-left: 10px solid;
  border-color: #D6A58F;
  font-family: 'Lato', serif;
  text-align: left;

}

.row-s {
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 8px solid;
  border-color:  #29a3a3;
  font-family: 'Lato', serif;

}

.row {
  margin: 20px;
  margin-top:30px;
  font-family: 'Lato', serif;
}

.experience {
  position:center;
  /* height:140vh; */
  text-align: center;
  background-color: #f7f7f7;
  padding-top:3%;
  padding-bottom:3%;
  font-family: 'Lato', serif;
}

#skills-t {
  text-align: center;
  /* margin-bottom:10px;
  margin-top:10px; */
  font-family: 'Lato', serif;
  color: black;

}

.h1 {
  font-weight: bold;
}
.skills{
  width: 100%;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
  padding:20px;
  font-family: 'Lato', serif;
  color: black;
}

.floatleft {
  float:left;
  width: 50%;
  height: 400px;
}

.floatright {
  float: right;
  height: 400px;
  width: 50%;
}

/* --skillbar--  */

.skillbar-title {
	position:absolute;
  text-align: left;
  width:9vw;
  height: 3vh;
	color:black;
	/* background:#dddbd9; */
  border-radius:5px;
  font-size:small;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.skillbar-title span {
	display:block;
	background:white;
	height:3vh;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}


.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
  /* //linked with background */
	background:#white;
	height:3vh;
	-webkit-transition:0.4s ease;
	-moz-transition:0.4s ease;
	-ms-transition:0.4s ease;
	-o-transition:0.4s ease;
	transition:0.4s ease;
}

.skillbar-bar {
	height:3vh;
	width:0px;
	background:#f7f7f7;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:0px;
	height:35px;
	line-height:35px;
	color:#f7f7f7;
}

.places {
  padding-top:3%;
  margin-top:20px;
  margin-bottom:30px;
  text-align: center;
  font-family: 'Lato', serif;
  background-color: white;
}

/* #mapid {
  height: 300px;
} */


#map {
  diplay:block;
  margin-left:auto;
  margin-right:auto;
  width: 800px;
  height: 500px;
}

.interests{
  position:center;
  text-align: center;
  margin-bottom:20px;
  margin-top:20px;
  padding-top:3%;
  font-family: 'Lato', serif;
}


.gal {
	-webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
	}

.gal img{ width: 100%; padding: 7px 0;}
      @media (max-width: 500px) {

.gal {
	-webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
	}
